@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~react-image-gallery/styles/scss/image-gallery.scss";

body{
    font-family: 'Sora', sans-serif;
    overflow-x: hidden;
}

.segment{
    /* height: 100vh; */
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hover-underline-animation {
    position: relative;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.scroll-anchor{
    @apply absolute top-0;
}

.project-element{
    @apply border-2 border-gray-400 cursor-pointer rounded-3xl px-2 py-1 bg-gray-100 transition-all transform hover:scale-105 hover:bg-gray-200 shadow mx-1 my-1;
}

.testing>div>div>div{
    @apply rounded-3xl overflow-hidden
}